<% layout('/layout/main') -%>

<p class="lead">Hey all!</p>
<div class="jumbotron">
  <h1 class="animated zoomInUp"><%= title %></h1>
  <p class="animated slideInDown">Welcome to <%= title %></p>
  <div id="app">
    <div class="row">
      <div class="col-md-4">
        <!-- Input -->
        <input type="text" v-model="item.name"><br>
        <!-- Validation errors -->
        <span style="color:red">{{errors.name.path}} {{ errors.name.kind }}</span>
      </div>
      <div class="col-md-4">
        <!-- Input -->
        <input type="text" v-model="item.details"><br>
        <!-- Validation errors -->
        <span style="color:red">{{{errors.details.path}} {{ errors.details.kind }}</span>
      </div>
      <!-- button click calls hireEmployee -->
      <div class="col-md-3"><button  class="btn btn-info btn-sm" @click="createItem">Add</button></div>
    </div>
    <table class="table">
      <tr
              is="item-row"
              v-for=" item in items"
              :item="item">
      </tr>
    </table>
   <a href="/test" >click</a>
    <img src="/cancel.png">
  </div>
</div>
<br/>
<img class="animated bounce infinite" src="https://mdbootstrap.com/img/logo/mdb-transparent.png">
<script type="text/x-template" id="item-row">
  <tr>
    <td>
      <!-- Show input when in edit mode -->
      <div v-if="editMode">
        <input type="text" v-model="item.name"><br>
        <span style="color:red">{{ errors.name }}</span>
      </div>
      <div v-else>{{ item.name }}</div>
    </td>
    <td>
      <div v-if="editMode">
        <input type="text" v-model="item.details"><br>
        <span style="color:red">{{ errors.details }}</span>
      </div>
      <div v-else>{{ item.details }}</div>
    </td>
    <td>
      <!-- Save button calls updateItem -->
      <button v-if="editMode" @click="updateItem" class="btn btn-outline-success btn-sm">Save</button>
      <!-- Edit button puts row into edit mode -->
      <button v-else @click="editMode = true" class="btn btn-warning btn-sm">Edit</button>

      <button v-if="!editMode" @click="removeItem" class="btn btn-danger btn-sm">Delete</button>
    </td>
  </tr>
</script>